#body{
background:url('https://knrkoq-bn1305.files.1drv.com/y3mD2S-orp16n5Evi2LVT0B39b1Y0A8O_7dgLQzRvEoiXusbT6IobIBI6vAC0vHKrxyidcVcGhw6vGSbk9-dF6Mrr63tYWO0nAlrSMLB6rIEkVDTDDCvUazUCUFpqgwwDh0A0KsWZVZGILDGimJ-fldHOHpos_wuf4Wcm-OCaSPy1U?width=1024&height=682&cropmode=none');
background-size:cover;
background-repeat: no-repeat;
background-position: center center;
}
div.page-header,div.jumbotron{
  background-color: transparent;
}
#headerText, small.lead{
  color:#FFFFFF;
}
footer {
    animation: transition 5s linear;
    animation-fill-mode: forwards;

}
@keyframes transition {
    from {background-color: none;}
    to {background-color: #f5f5f5;}
}
