#body{
background:url('../img/background.JPG');
background-size:cover;
background-repeat: no-repeat;
}
footer {
    animation: transition 5s linear;
    animation-fill-mode: forwards;

}
@keyframes transition {
    from {background-color: none;}
    to {background-color: #f5f5f5;}
}
